@import url('https://fonts.googleapis.com/css2? family= Aleo & family= Righteous & display=swap');/*importou as fontes*/

*{/*configuração global*/
    margin: 0; /*distancia pra fora*/
    padding: 0;/*distancia pro conteudo*/
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {/*nomeação de classe*/
    display: flex;/*flax box*/
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-image {
  right: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px; /*separação dos itens do menu*/
}

.cabecalho-menu-item {

    font-family: Arial, Helvetica, sans-serif;
    color: #FFF2E7;
    font-weight: 400;/*BOLD*/
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7; /*linha */
}

.conteudo-principal{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; /* espaço dos itens igual dos itens do menu*/
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;/*espaçamento entre os elementos*/
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;/*bold*/
    font-size: 64px;
    color:#FFF2E7 ;

}

.conteudo-principal-escrito-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7 ;
}

.conteudo-principal-escrito-botão{
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;/*nemhuma borda*/
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;/*borda do botão*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2F2325;
}
.conteudo-principal-escrito-botão:hover{
    background-color: rgb(236, 214, 196, 0.53);/*passa o mouse em cima do botão e muda de cor*/
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;/*alinhar os itens*/
    gap: 24px;
    margin-top: 48px;/*margem do topo(espaçamento do topo)*/
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}