@charset "UTF-8";


*{
padding: 0px;
margin: 0px;
}

body{
    background-color: #E7F2EB;
    padding: 50px;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
}

section{

    background-color: #2EC17B;
    display:block;
    width: 300px;
    align-items: center;
}

.form{
  width: 700px;
  text-align: left;
}